<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="__PUBLIC__/common/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.0/axios.min.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_422207_0lukaeusfptzw7b9.css">
    <link rel="stylesheet" href="__STATIC__/dist/home.min.css">
    <script>
        var ROOT = "__ROOT__/index.php";
    </script>
</head>
<body>
    <div id="app">
        <div class="search-box">
            <div class="input-box" @click="$router.push('/search/0')">
                <i class="syy icon-sousuo"></i>
                <input type="text" class="search-inp" readonly placeholder="我想找...">
            </div>
        </div>
        <div id="fxsMessBox">
            <div class="pic-box">
                <img id="fxsPic" src="" alt="">
            </div>
            <div class="fxs-mess">
                <p class="fxs-name">随意游旅游顾问小游</p>
                <p class="fxs-job">
                    <i class="syy icon-ren"></i> : 经理</p>
                <p class="fxs-mobile">
                    <i class="syy icon-dianhua1"></i> : 18159081124
                </p>
            </div>
        </div>
        <mt-swipe :auto="4000" style="height: 230px">
            <mt-swipe-item v-for="item in swipeList" :key="item.id">
                <img :src="item.head_img" alt="" class="swipe-pic" @click="routerPush(item.code, item.goods_type)">
            </mt-swipe-item>
        </mt-swipe>
        <div class="module">
            <div class="module-a" @click="$router.push('/search/0')">
                <div class="module-icon gentuan">
                    <i class="syy icon-xianlu"></i>
                </div>
                <p class="module-name">跟团线路</p>
            </div>
            <div class="module-a" @click="$router.push('/search/1')">
                <div class="module-icon menpiao">
                    <i class="syy icon-menpiao"></i>
                </div>
                <p class="module-name">景区门票</p>
            </div>
            <div class="module-a" @click="$router.push('/search/2')">
                <div class="module-icon jiudian">
                    <i class="syy icon-jiudian"></i>
                </div>
                <p class="module-name">特惠酒店</p>
            </div>
        </div>

        <div id="production">
            <p class="pro-title">热门推荐</p>
            <div id="productBox">
                <div v-for="item in sixList" :key="item.id">
                    <div class="item" @click="routerPush(item.code, item.goods_type)">
                        <img class="pro-pic" :src="item.head_img" alt="">
                        <p class="pro-name">{{item.show_title}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="bottomBox">
            <p class="service-mobile">
                <i class="syy icon-dianhua"></i>
                客服热线 : 17759185562
            </p>
            <p class="companyName">©2018 随意游 - www.suiyiyou.net</p>
        </div>
        <button @click="$router.push('/login')">登陆</button>
    </div>
    <script src="__STATIC__/dist/home.min.js"></script>
</body>

</html>